@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
main{
    background-color: #53736A;
    width: 500px;
    border-radius: 12px;
    padding: 10px;
    margin: auto;
}
body{
    background-image: linear-gradient(to right, #C2C0A6, #6A8C69, #53736A, #024554);
    text-align: justify;
}
h1{
    text-align: center;
}